*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100vh;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.logo{
    height: 3rem;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone img{
    height: 50rem;
}

.continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    border-radius: 5%;
} 

.group1 a{
    text-align: center;
    text-decoration: none;
}

.login{
    padding: 8px;
    background-color: #0095f6;
    border-radius: 4%;
    color: #fff;
    margin-top: 1.5rem;
}

.logout{
    color: #0095f6;
    margin-top: 1rem;
}

a:hover{
    color: rgb(0, 0, 0, 0.5);
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photo img{
    height: 6rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.not-account{
    color: rgb(168, 168, 168);
}

.link-blue{
    color: #0095f6;
}

.link-blue:hover{
    box-shadow: 2px 2px 20px rgba(0,0,0,.5);
}

.get-the-app{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(img/apple-button.png);
}

.app-download:nth-child(2) {
    background-image: url(img/googleplay-button.png);
}

.app-download:nth-child(1):hover{
    box-shadow: 2px 2px 20px rgba(0,0,0,.7);
}

.app-download:nth-child(2):hover{
    box-shadow: 2px 2px 20px rgba(0,0,0,.7);
}

@media (max-width: 1024px){
    .instagram-container{
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 650px){
    body{
        background-color: #fff;
    }
    .instagram-container{
        width: 90%;
    }

    .phone{
        display: none;
    }

    .continue{
        width: 100%;
    }

    .group1{
        border: 1px solid transparent;
    }

 

}